/* reset */

/* utils */

/* common */
.machine-items {
  padding: 0 24px 21px;
  .machine-title {
    height: 88px; line-height: 88px;
    font-size: 28px;
    border-bottom: 1px solid #e2e2e2;/*no*/
  }
  .machine-content { overflow: hidden;}
}

/* model */
.machine-status {
  position: relative;
  .machine-title { color: #8995ad;}
  .machine-content { padding-top: 50px; }
  .machine-content {
    a {
      width: 25%;
      float: left;
      text-align: center;
      &:nth-child(n+5){
        margin-top: 64px;
      }
      .type {
        font-size: 26px; color: #343434;
      }
    }
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    .num {
      margin-bottom: 40px; position: relative;
      line-height: 50px; height: 50px;
      i { font-size: 32px; color: #049cff;}
      small,sup,sub { color: #b9daf9; display: inline-block;}
    }
    .speed {
      .num {
        small { font-size: 28px; }
      }
    }
    .time {
      .num small { font-size: 18px;}
    }
    .temperature .num {
      sup {
        position: relative;
        top: -14px;
        display: inline-block;
      }
    }
    .mode .num {
      background: url(../../img/ico1.jpg) no-repeat center top;
      background-size: 50px 50px;
    }
    .work-status .num {
      background: url(../../img/ico2.jpg) no-repeat center top;
      background-size: 50px 50px;
    }
    .warning .num {
      background: url(../../img/ico3.jpg) no-repeat center top;
      background-size: 50px 50px;
      em {
        width: 26px; height: 26px; line-height: 28px;
        border-radius: 50%; text-align: center;
        background: #ff3c02;
        font-size: 15px; color: #fff;
        position: absolute; top: -18px; left: 60%;
      }
    }
  }
  .arrow {
    padding-top: 40px;
    width: 100%; height: 62px;
    line-height: 0.8;
    text-align: center;
    i {
      width: 37px; height: 22px;
      display: inline-block;
      overflow: hidden;
      transition: transform 0.2s;
      s {
        text-decoration: none; color: #c6c6c6;
        position: relative; top: 5px;/*no*/
        font-size: 36px;
      }
    }

  }
}
.machine-workmode {
  background: #fff;
  .swiper-container {
    width: 100%;
     .swiper-wrapper {
      .swiper-slide {
        &.active {
          background: linear-gradient(180deg, #ededed, transparent);
          box-shadow: inset 0 1px 2px 0 #ccc;
        }
        padding-top: 30px;
        a { display: block;}
        span {
          display: block;
          height: 97px;
        }
        .desc {
          text-align: center;
          height: 60px; line-height: 60px;
          font-size: 26px; color: #333;
        }
      }
      .slide1 {
        .icon {
          background: url(../../img/w1.png) no-repeat center top;
          background-size: 97px 97px;
        }
      }
      .slide2 {
        .icon {
          background: url(../../img/w2.png) no-repeat center top;
          background-size: 97px 97px;
        }
      }
      .slide3 {
        .icon {
          background: url(../../img/w3.png) no-repeat center top;
          background-size: 97px 97px;
        }
      }
      .slide4 {
        .icon {
          background: url(../../img/w4.png) no-repeat center top;
          background-size: 97px 97px;
        }
      }
      .slide5 {
        .icon {
          background: url(../../img/w1.png) no-repeat center top;
          background-size: 97px 97px;
        }
      }
      .slide6 {
        .icon {
          background: url(../../img/w2.png) no-repeat center top;
          background-size: 97px 97px;
        }
      }
    }
  }

}

/* animation */
.deg {
  transform: rotate(-180deg);
}
