/* reset */

/* utils */

/* common */
.machine-items {
  padding: 0 24px 21px; background: #fff;
  margin-top: 16px;
  box-shadow: 0 1px 0 1px #e2e2e2;/*no*/
  .machine-title {
    height: 88px; line-height: 88px;
    font-size: 28px; color: #848ea9;
    border-bottom: 1px solid #e2e2e2;/*no*/
  }
  .machine-content { overflow: hidden;}
}

/* model */
.machine-status {
  position: relative; background: none;
  box-shadow: none; margin-bottom: 0;
  .machine-content { padding-top: 50px; }
  .machine-content {
    a {
      width: 25%;
      float: left;
      text-align: center;
      &:nth-child(n+5){
        margin-top: 64px;
      }
      .type {
        font-size: 26px; color: #343434;
      }
    }
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    .num {
      margin-bottom: 40px; position: relative;
      line-height: 50px; height: 50px;
      i { font-size: 37px; color: #049cff;}
      small,sup,sub { color: #b9daf9; display: inline-block;}
    }
    .speed {
      .num {
        small { font-size: 28px; }
      }
    }
    .time {
      .num small { font-size: 18px;}
    }
    .temperature .num {
      sup {
        position: relative;
        top: -14px;
        display: inline-block;
      }
    }
    .mode .num {
      background: url(../../img/ico1.jpg) no-repeat center top;
      background-size: 50px 50px;
    }
    .work-status .num {
      background: url(../../img/ico2.jpg) no-repeat center top;
      background-size: 50px 50px;
    }
    .warning .num {
      background: url(../../img/ico3.jpg) no-repeat center top;
      background-size: 50px 50px;
      em {
        width: 26px; height: 26px; line-height: 28px;
        border-radius: 50%; text-align: center;
        background: #ff3c02;
        font-size: 15px; color: #fff;
        position: absolute; top: -18px; left: 60%;
      }
    }
  }
  .arrow {
    padding-top: 40px;
    width: 100%; height: 62px;
    line-height: 0.8;
    text-align: center;
    i {
      width: 37px; height: 22px;
      display: inline-block;
      overflow: hidden;
      transition: transform 0.2s;
      s {
        text-decoration: none; color: #c6c6c6;
        position: relative; top: 5px;/*no*/
        font-size: 36px;
      }
    }

  }
}
.machine-workmode {
  background: #fff;
  .swiper-container {
    width: 100%;
     .swiper-wrapper {
      .swiper-slide {
        &.active {
          background: linear-gradient(#ededed, #fff);
          box-shadow: inset 0 1px 2px 0 #ccc;
        }
        padding-top: 30px;
        a { display: block;}
        span {
          display: block;
          height: 97px;
        }
        .desc {
          text-align: center;
          height: 60px; line-height: 60px;
          font-size: 26px; color: #333;
        }
      }
      .slide1 {
        .icon {
          background: url(../../img/w1.png) no-repeat center top;
          background-size: 97px 97px;
        }
      }
      .slide2 {
        .icon {
          background: url(../../img/w2.png) no-repeat center top;
          background-size: 97px 97px;
        }
      }
      .slide3 {
        .icon {
          background: url(../../img/w3.png) no-repeat center top;
          background-size: 97px 97px;
        }
      }
      .slide4 {
        .icon {
          background: url(../../img/w4.png) no-repeat center top;
          background-size: 97px 97px;
        }
      }
      .slide5 {
        .icon {
          background: url(../../img/w1.png) no-repeat center top;
          background-size: 97px 97px;
        }
      }
      .slide6 {
        .icon {
          background: url(../../img/w2.png) no-repeat center top;
          background-size: 97px 97px;
        }
      }
    }
  }
}
.machine-setheat {

}
.machine-speed {

}
/* animation */
.deg {
  transform: rotate(-180deg);
}

/* ui-slider-bar */
.ui-slide-cont {
  padding: 0 24px;
  .ui-slider-bar {
    width: 100%;
    height: 80px;
    position: relative;
    .ui-slider-bg {
      width: 100%;
      height: 8px;/*no*/
      background: #ebebeb;
      border-radius: 6px;/*no*/
      position: absolute;
      top: 50%; margin-top: -4px;/*no*/
      left: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      z-index: 2;
      box-shadow: inset 0 0 1px 0 #ccc;/*no*/
    }
    .ui-slider-range {
      width: 0;
      background: #109fff;
      z-index: 3;
    }
    .ui-slider-handle {
      width: 40px; height: 40px; border-radius: 50%;
      position: absolute; top: 50%;  margin-top: -20px; margin-left: -20px;
      background: #109fff; z-index: 4;
      left: 0;
    }
    .stalls-item {
      flex-grow: 1;
      height: 8px;/*no*/
      position: relative;
      &:after {
        content:''; background: #ebebeb; /*background: #b9daf9;*/ z-index: 3;
        position: absolute; top: 50%; margin-top: -13px; right: 0;
        width: 26px; height: 26px; border-radius: 50%;
      }
    }
  }
}
